<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="demonicDamageDie0" name="demonicDamageDie" class="radio-selected-demonic-dd" data-cost="1" {{#if (eq costDemonicDamageDie 1)}}checked{{/if}}>
<label for="demonicDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="demonicDamageDie1" name="demonicDamageDie" class="radio-selected-demonic-dd" data-cost="4" {{#if (eq costDemonicDamageDie 4)}}checked{{/if}}>
<label for="demonicDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="demonicDamageDie2" name="demonicDamageDie" class="radio-selected-demonic-dd" data-cost="7" {{#if (eq costDemonicDamageDie 7)}}checked{{/if}}>
<label for="demonicDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="demonicDamageDie3" name="demonicDamageDie" class="radio-selected-demonic-dd" data-cost="10" {{#if (eq costDemonicDamageDie 10)}}checked{{/if}}>
<label for="demonicDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="demonicDamageDie4" name="demonicDamageDie" class="radio-selected-demonic-dd" data-cost="13" {{#if (eq costDemonicDamageDie 13)}}checked{{/if}}>
<label for="demonicDamageDie4">d12 (13 cost)</label><br/>