<span class=""><strong>Resistance</strong></span><br>
<input type="radio" id="shieldResistance0" name="shieldResistance" class="radio-selected-shield-sr" data-cost="3" {{#if (eq costShieldResistance 3)}}checked{{/if}}>
<label for="shieldResistance0">Armor Rating: 4 (3 cost)</label><br/>

<span class=""><strong>Duration</strong></span><br/>
<input type="radio" id="shieldDuration0" name="shieldDuration" class="radio-selected-shield-sd" data-cost="1" {{#if (eq costShieldDuration 1)}}checked{{/if}}>
<label for="shieldDuration0">1 minute x TB (1 cost)</label><br/>
<input type="radio" id="shieldDuration1" name="shieldDuration" class="radio-selected-shield-sd" data-cost="3" {{#if (eq costShieldDuration 3)}}checked{{/if}}>
<label for="shieldDuration1">10 minutes x TB (3 cost)</label><br/>
<input type="radio" id="shieldDuration2" name="shieldDuration" class="radio-selected-shield-sd" data-cost="6" {{#if (eq costShieldDuration 6)}}checked{{/if}}>
<label for="shieldDuration2">1 hour x TB (6 cost)</label><br/>