<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="mudDamageDie0" name="mudDamageDie" class="radio-selected-mud-md" data-cost="1" {{#if (eq costMudDamageDie 1)}}checked{{/if}}>
<label for="mudDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="mudDamageDie1" name="mudDamageDie" class="radio-selected-mud-md" data-cost="4" {{#if (eq costMudDamageDie 4)}}checked{{/if}}>
<label for="mudDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="mudDamageDie2" name="mudDamageDie" class="radio-selected-mud-md" data-cost="7" {{#if (eq costMudDamageDie 7)}}checked{{/if}}>
<label for="mudDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="mudDamageDie3" name="mudDamageDie" class="radio-selected-mud-md" data-cost="10" {{#if (eq costMudDamageDie 10)}}checked{{/if}}>
<label for="mudDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="mudDamageDie4" name="mudDamageDie" class="radio-selected-mud-md" data-cost="13" {{#if (eq costMudDamageDie 13)}}checked{{/if}}>
<label for="mudDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Reduced Speed</strong></span><br/>
<input type="radio" id="mudCover0" name="mudCover" class="radio-selected-mud-mr" data-cost="5" {{#if (eq costMudReducedSpeed 5)}}checked{{/if}}>
<label for="mudCover0">Reduce target movement by 5 feet (1 pace) (5 cost)</label><br/>
