<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="airDamageDie0" name="airDamageDie" class="radio-selected-air-ad" data-cost="1" {{#if (eq costAirDamageDie 1)}}checked{{/if}}>
<label for="airDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="airDamageDie1" name="airDamageDie" class="radio-selected-air-ad" data-cost="4" {{#if (eq costAirDamageDie 4)}}checked{{/if}}>
<label for="airDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="airDamageDie2" name="airDamageDie" class="radio-selected-air-ad" data-cost="7" {{#if (eq costAirDamageDie 7)}}checked{{/if}}>
<label for="airDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="airDamageDie3" name="airDamageDie" class="radio-selected-air-ad" data-cost="10" {{#if (eq costAirDamageDie 10)}}checked{{/if}}>
<label for="airDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="airDamageDie4" name="airDamageDie" class="radio-selected-air-ad" data-cost="13" {{#if (eq costAirDamageDie 13)}}checked{{/if}}>
<label for="airDamageDie4">d12 (13 cost)</label><br/>
