<span class=""><strong>Banish Resistance</strong></span><br/>
<input type="radio" id="banishResistance0" name="banishResistance" class="radio-selected-banish-br" data-cost="1" {{#if (eq costBanishResistance 1)}}checked{{/if}}>
<label for="banishResistance0">Easy Magic DC (1 cost)</label><br/>
<input type="radio" id="banishResistance1" name="banishResistance" class="radio-selected-banish-br" data-cost="4" {{#if (eq costBanishResistance 4)}}checked{{/if}}>
<label for="banishResistance1">Moderate Magic DC (4 cost)</label><br/>
<input type="radio" id="banishResistance2" name="banishResistance" class="radio-selected-banish-br" data-cost="7" {{#if (eq costBanishResistance 7)}}checked{{/if}}>
<label for="banishResistance2">Hard Magic DC (7 cost)</label><br/>
<input type="radio" id="banishResistance3" name="banishResistance" class="radio-selected-banish-br" data-cost="10" {{#if (eq costBanishResistance 10)}}checked{{/if}}>
<label for="banishResistance3">Sheer Folly Magic DC (10 cost)</label><br/>
<input type="radio" id="banishResistance4" name="banishResistance" class="radio-selected-banish-br" data-cost="13" {{#if (eq costBanishResistance 13)}}checked{{/if}}>
<label for="banishResistance4">Near Impossible Magic DC (13 cost)</label><br/>

<span class=""><strong>Banish Size</strong></span><br/>
<input type="radio" id="banishSize0" name="banishSize" class="radio-selected-bansihs-bs" data-cost="1" {{#if (eq costBanishSize 1)}}checked{{/if}}>
<label for="banishSize0">Tiny (less than 1 foot cubed in size) (1 cost)</label><br/>
<input type="radio" id="banishSize1" name="banishSize" class="radio-selected-bansihs-bs" data-cost="2" {{#if (eq costBanishSize 2)}}checked{{/if}}>
<label for="banishSize1">Small (less than 5 foot cubed in size) (2 cost)</label><br/>
<input type="radio" id="banishSize2" name="banishSize" class="radio-selected-bansihs-bs" data-cost="3" {{#if (eq costBanishSize 3)}}checked{{/if}}>
<label for="banishSize2">Meidum (less than 10 foot cubed in size) (3 cost)</label><br/>
<input type="radio" id="banishSize3" name="banishSize" class="radio-selected-bansihs-bs" data-cost="5" {{#if (eq costBanishSize 5)}}checked{{/if}}>
<label for="banishSize3">Large (less than 25 foot cubed in size) (5 cost)</label><br/>
<input type="radio" id="banishSize4" name="banishSize" class="radio-selected-bansihs-bs" data-cost="8" {{#if (eq costBanishSize 8)}}checked{{/if}}>
<label for="banishSize4">Huge (less than 50 foot cubed in size) (8 cost)</label><br/>
<input type="radio" id="banishSize5" name="banishSize" class="radio-selected-bansihs-bs" data-cost="13" {{#if (eq costBanishSize 13)}}checked{{/if}}>
<label for="banishSize5">Enormous (less than 100 foot cubed in size) (13 cost)</label><br/>