<span class=""><strong>Target</strong></span><br/>
<input type="radio" id="thereTarget0" name="thereTarget" class="radio-selected-there-tt" data-cost="3" {{#if (eq costThereTarget 3)}}checked{{/if}}>
<label for="thereTarget0">Target location in a 10-foot radius (3 cost)</label><br/>
<input type="radio" id="thereTarget1" name="thereTarget" class="radio-selected-there-tt" data-cost="5" {{#if (eq costThereTarget 5)}}checked{{/if}}>
<label for="thereTarget1">Target location in a 15-foot radius (5 cost)</label><br/>
<input type="radio" id="thereTarget2" name="thereTarget" class="radio-selected-there-tt" data-cost="7" {{#if (eq costThereTarget 7)}}checked{{/if}}>
<label for="thereTarget2">Target location in a 20-foot radius (7 cost)</label><br/>
<input type="radio" id="thereTarget3" name="thereTarget" class="radio-selected-there-tt" data-cost="9" {{#if (eq costThereTarget 9)}}checked{{/if}}>
<label for="thereTarget3">Target location in a 25-foot radius (9 cost)</label><br/>
<input type="radio" id="thereTarget4" name="thereTarget" class="radio-selected-there-tt" data-cost="11" {{#if (eq costThereTarget 11)}}checked{{/if}}>
<label for="thereTarget4">Target location in a 30-foot radius (11 cost)</label><br/>
<input type="radio" id="thereTarget5" name="thereTarget" class="radio-selected-there-tt" data-cost="2" {{#if (eq costThereTarget 2)}}checked{{/if}}>
<label for="thereTarget5">Target location in a 10-foot wall (2 cost)</label><br/>
<input type="radio" id="thereTarget6" name="thereTarget" class="radio-selected-there-tt" data-cost="4" {{#if (eq costThereTarget 4)}}checked{{/if}}>
<label for="thereTarget6">Target location in a 20-foot wall (4 cost)</label><br/>
<input type="radio" id="thereTarget7" name="thereTarget" class="radio-selected-there-tt" data-cost="6" {{#if (eq costThereTarget 6)}}checked{{/if}}>
<label for="thereTarget7">Target location in a 30-foot wall (6 cost)</label><br/>
