<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="mistDamageDie0" name="mistDamageDie" class="radio-selected-mist-md" data-cost="1" {{#if (eq costMistDamageDie 1)}}checked{{/if}}>
<label for="mistDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="mistDamageDie1" name="mistDamageDie" class="radio-selected-mist-md" data-cost="4" {{#if (eq costMistDamageDie 4)}}checked{{/if}}>
<label for="mistDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="mistDamageDie2" name="mistDamageDie" class="radio-selected-mist-md" data-cost="7" {{#if (eq costMistDamageDie 7)}}checked{{/if}}>
<label for="mistDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="mistDamageDie3" name="mistDamageDie" class="radio-selected-mist-md" data-cost="10" {{#if (eq costMistDamageDie 10)}}checked{{/if}}>
<label for="mistDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="mistDamageDie4" name="mistDamageDie" class="radio-selected-mist-md" data-cost="13" {{#if (eq costMistDamageDie 13)}}checked{{/if}}>
<label for="mistDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Cover</strong></span><br/>
<input type="radio" id="mistCover0" name="mistCover" class="radio-selected-mist-mc" data-cost="4" {{#if (eq costMistCover 4)}}checked{{/if}}>
<label for="mistCover0">Covered in thick mist, Moderate fog visibility (4 cost)</label><br/>
