<span class=""><strong>Darkness</strong></span><br/>
<input type="radio" id="darkFieldRange0" name="darkFieldRange" class="radio-selected-dark-df" data-cost="1" {{#if (eq costDarkFieldRange 1)}}checked{{/if}}>
<label for="darkFieldRange0">1-foot bubble of darkness (1 cost)</label><br/>
<input type="radio" id="darkFieldRange1" name="darkFieldRange" class="radio-selected-dark-df" data-cost="4" {{#if (eq costDarkFieldRange 4)}}checked{{/if}}>
<label for="darkFieldRange1">10-foot radius of darkness (4 cost)</label><br/>
<input type="radio" id="darkFieldRange2" name="darkFieldRange" class="radio-selected-dark-df" data-cost="8" {{#if (eq costDarkFieldRange 8)}}checked{{/if}}>
<label for="darkFieldRange2">20-foot radius of darkness (8 cost)</label><br/>
<input type="radio" id="darkFieldRange3" name="darkFieldRange" class="radio-selected-dark-df" data-cost="3" {{#if (eq costDarkFieldRange 3)}}checked{{/if}}>
<label for="darkFieldRange3">Blinds target instead of darkness field (3 cost)</label><br/>

<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="darkDamageDie0" name="darkDamageDie" class="radio-selected-dark-dd" data-cost="1" {{#if (eq costDarkDamageDie 1)}}checked{{/if}}>
<label for="darkDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="darkDamageDie1" name="darkDamageDie" class="radio-selected-dark-dd" data-cost="4" {{#if (eq costDarkDamageDie 4)}}checked{{/if}}>
<label for="darkDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="darkDamageDie2" name="darkDamageDie" class="radio-selected-dark-dd" data-cost="7" {{#if (eq costDarkDamageDie 7)}}checked{{/if}}>
<label for="darkDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="darkDamageDie3" name="darkDamageDie" class="radio-selected-dark-dd" data-cost="10" {{#if (eq costDarkDamageDie 10)}}checked{{/if}}>
<label for="darkDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="darkDamageDie4" name="darkDamageDie" class="radio-selected-dark-dd" data-cost="13" {{#if (eq costDarkDamageDie 13)}}checked{{/if}}>
<label for="darkDamageDie4">d12 (13 cost)</label><br/>
