<span class=""><strong>Target</strong></span><br/>
<input type="radio" id="youTarget0" name="youTarget" class="radio-selected-you-yt" data-cost="1" {{#if (eq costYouTarget 1)}}checked{{/if}}>
<label for="youTarget0">Target one creature (1 cost)</label><br/>
