<span class=""><strong>Summon Size</strong></span><br/>
<input type="radio" id="summonSize0" name="summonSize" class="radio-selected-summon-ss" data-cost="2" {{#if (eq costSummonSize 2)}}checked{{/if}}>
<label for="summonSize0">Tiny (less than 1 foot cubed in size) (2 cost)</label><br/>
<input type="radio" id="summonSize1" name="summonSize" class="radio-selected-summon-ss" data-cost="4" {{#if (eq costSummonSize 4)}}checked{{/if}}>
<label for="summonSize1">Small (less than 5 foot cubed in size) (4 cost)</label><br/>
<input type="radio" id="summonSize2" name="summonSize" class="radio-selected-summon-ss" data-cost="6" {{#if (eq costSummonSize 6)}}checked{{/if}}>
<label for="summonSize2">Meidum (less than 10 foot cubed in size) (6 cost)</label><br/>
<input type="radio" id="summonSize3" name="summonSize" class="radio-selected-summon-ss" data-cost="10" {{#if (eq costSummonSize 10)}}checked{{/if}}>
<label for="summonSize3">Large (less than 25 foot cubed in size) (10 cost)</label><br/>
<input type="radio" id="summonSize4" name="summonSize" class="radio-selected-summon-ss" data-cost="16" {{#if (eq costSummonSize 16)}}checked{{/if}}>
<label for="summonSize4">Huge (less than 50 foot cubed in size) (16 cost)</label><br/>
<input type="radio" id="summonSize5" name="summonSize" class="radio-selected-summon-ss" data-cost="26" {{#if (eq costSummonSize 26)}}checked{{/if}}>
<label for="summonSize5">Enormous (less than 100 foot cubed in size) (26 cost)</label><br/>

<span class=""><strong>Summon Number</strong></span><br/>
<input type="radio" id="summonNumber0" name="summonNumber" class="radio-selected-summon-sn" data-cost="2" {{#if (eq costSummonNumber 2)}}checked{{/if}}>
<label for="summonNumber0">1 facsimile (2 cost)</label><br/>
<input type="radio" id="summonNumber1" name="summonNumber" class="radio-selected-summon-sn" data-cost="5" {{#if (eq costSummonNumber 5)}}checked{{/if}}>
<label for="summonNumber1">2 facsimile (5 cost)</label><br/>
<input type="radio" id="summonNumber2" name="summonNumber" class="radio-selected-summon-sn" data-cost="8" {{#if (eq costSummonNumber 8)}}checked{{/if}}>
<label for="summonNumber2">3 facsimile (8 cost)</label><br/>
<input type="radio" id="summonNumber3" name="summonNumber" class="radio-selected-summon-sn" data-cost="11" {{#if (eq costSummonNumber 11)}}checked{{/if}}>
<label for="summonNumber3">4 facsimile (11 cost)</label><br/>
<input type="radio" id="summonNumber4" name="summonNumber" class="radio-selected-summon-sn" data-cost="14" {{#if (eq costSummonNumber 14)}}checked{{/if}}>
<label for="summonNumber4">5 facsimile (14 cost)</label><br/>
<input type="radio" id="summonNumber5" name="summonNumber" class="radio-selected-summon-sn" data-cost="17" {{#if (eq costSummonNumber 17)}}checked{{/if}}>
<label for="summonNumber5">6 facsimile (17 cost)</label><br/>

<span class=""><strong>Duration</strong></span><br/>
<input type="radio" id="summonDuration0" name="summonDuration" class="radio-selected-summon-sd" data-cost="1" {{#if (eq costSummonDuration 1)}}checked{{/if}}>
<label for="summonDuration0">1 minute x TB (1 cost)</label><br/>
<input type="radio" id="summonDuration1" name="summonDuration" class="radio-selected-summon-sd" data-cost="3" {{#if (eq costSummonDuration 3)}}checked{{/if}}>
<label for="summonDuration1">10 minutes x TB (3 cost)</label><br/>
<input type="radio" id="summonDuration2" name="summonDuration" class="radio-selected-summon-sd" data-cost="6" {{#if (eq costSummonDuration 6)}}checked{{/if}}>
<label for="summonDuration2">1 hour x TB (6 cost)</label><br/>

<span class=""><strong>Summon Disappears</strong></span><br/>
<input type="radio" id="summonDisappears0" name="summonDisappears" class="radio-selected-summon-sdd" data-cost="1" {{#if (eq costSummonDisappears 1)}}checked{{/if}}>
<label for="summonDisappears0">Summon Disappears (1 cost)</label><br/>
<input type="radio" id="summonDisappears1" name="summonDisappears" class="radio-selected-summon-sdd" data-cost="5" {{#if (eq costSummonDisappears 5)}}checked{{/if}}>
<label for="summonDisappears1">Summon Stays after Duration (5 cost)</label><br/>
