<span class=""><strong>Armor Rating</strong></span><br>
<input type="radio" id="armorRating0" name="armorRating" class="radio-selected-armor-ar" data-cost="3" {{#if (eq costArmorRating 3)}}checked{{/if}}>
<label for="armorRating0">Armor Rating: 4 (3 cost)</label><br/>
<input type="radio" id="armorRating1" name="armorRating" class="radio-selected-armor-ar" data-cost="5" {{#if (eq costArmorRating 5)}}checked{{/if}}>
<label for="armorRating1">Armor Rating: 6 (5 cost)</label><br/>
<input type="radio" id="armorRating2" name="armorRating" class="radio-selected-armor-ar" data-cost="7" {{#if (eq costArmorRating 7)}}checked{{/if}}>
<label for="armorRating2">Armor Rating: 8 (7 cost)</label><br/>
<input type="radio" id="armorRating3" name="armorRating" class="radio-selected-armor-ar" data-cost="9" {{#if (eq costArmorRating 9)}}checked{{/if}}>
<label for="armorRating3">Armor Rating: 10 (9 cost)</label><br/>
<input type="radio" id="armorRating4" name="armorRating" class="radio-selected-armor-ar" data-cost="11" {{#if (eq costArmorRating 11)}}checked{{/if}}>
<label for="armorRating4">Armor Rating: 12 (11 cost)</label><br/>
<input type="radio" id="armorRating5" name="armorRating" class="radio-selected-armor-ar" data-cost="13" {{#if (eq costArmorRating 13)}}checked{{/if}}>
<label for="armorRating5">Armor Rating: 14 (13 cost)</label><br/>
<input type="radio" id="armorRating6" name="armorRating" class="radio-selected-armor-ar" data-cost="15" {{#if (eq costArmorRating 15)}}checked{{/if}}>
<label for="armorRating6">Armor Rating: 16 (15 cost)</label><br/>

<span class=""><strong>Armor Type</strong></span><br/>
<input type="radio" id="armorType0" name="armorType" class="radio-selected-armor-at" data-cost="0" {{#if (eq costArmorType 0)}}checked{{/if}}>
<label for="armorType0">Standard Armor (0 cost)</label><br/>
<input type="radio" id="armorType1" name="armorType" class="radio-selected-armor-at" data-cost="10" {{#if (eq costArmorType 10)}}checked{{/if}}>
<label for="armorType1">Heavy Armor (10 cost)</label><br/>

<span class=""><strong>Duration</strong></span><br/>
<input type="radio" id="armorDuration0" name="armorDuration" class="radio-selected-armor-ad" data-cost="1" {{#if (eq costArmorDuration 1)}}checked{{/if}}>
<label for="armorDuration0">1 minute x TB (1 cost)</label><br/>
<input type="radio" id="armorDuration1" name="armorDuration" class="radio-selected-armor-ad" data-cost="3" {{#if (eq costArmorDuration 3)}}checked{{/if}}>
<label for="armorDuration1">10 minutes x TB (3 cost)</label><br/>
<input type="radio" id="armorDuration2" name="armorDuration" class="radio-selected-armor-ad" data-cost="6" {{#if (eq costArmorDuration 6)}}checked{{/if}}>
<label for="armorDuration2">1 hour x TB (6 cost)</label><br/>