<span class=""><strong>Transform Size</strong></span><br/>
<input type="radio" id="transformSize0" name="transformSize" class="radio-selected-transform-ts" data-cost="2" {{#if (eq costTransformSize 2)}}checked{{/if}}>
<label for="transformSize0">Tiny (less than 1 foot cubed in size) (2 cost)</label><br/>
<input type="radio" id="transformSize1" name="transformSize" class="radio-selected-transform-ts" data-cost="4" {{#if (eq costTransformSize 4)}}checked{{/if}}>
<label for="transformSize1">Small (less than 5 foot cubed in size) (4 cost)</label><br/>
<input type="radio" id="transformSize2" name="transformSize" class="radio-selected-transform-ts" data-cost="6" {{#if (eq costTransformSize 6)}}checked{{/if}}>
<label for="transformSize2">Meidum (less than 10 foot cubed in size) (6 cost)</label><br/>
<input type="radio" id="transformSize3" name="transformSize" class="radio-selected-transform-ts" data-cost="10" {{#if (eq costTransformSize 10)}}checked{{/if}}>
<label for="transformSize3">Large (less than 25 foot cubed in size) (10 cost)</label><br/>
<input type="radio" id="transformSize4" name="transformSize" class="radio-selected-transform-ts" data-cost="16" {{#if (eq costTransformSize 16)}}checked{{/if}}>
<label for="transformSize4">Huge (less than 50 foot cubed in size) (16 cost)</label><br/>
<input type="radio" id="transformSize5" name="transformSize" class="radio-selected-transform-ts" data-cost="26" {{#if (eq costTransformSize 26)}}checked{{/if}}>
<label for="transformSize5">Enormous (less than 100 foot cubed in size) (26 cost)</label><br/>

<span class=""><strong>Duration</strong></span><br/>
<input type="radio" id="transformDuration0" name="transformDuration" class="radio-selected-transform-td" data-cost="1" {{#if (eq costTransformDuration 1)}}checked{{/if}}>
<label for="transformDuration0">1 minute x TB (1 cost)</label><br/>
<input type="radio" id="transformDuration1" name="transformDuration" class="radio-selected-transform-td" data-cost="3" {{#if (eq costTransformDuration 3)}}checked{{/if}}>
<label for="transformDuration1">10 minutes x TB (3 cost)</label><br/>
<input type="radio" id="transformDuration2" name="transformDuration" class="radio-selected-transform-td" data-cost="6" {{#if (eq costTransformDuration 6)}}checked{{/if}}>
<label for="transformDuration2">1 hour x TB (6 cost)</label><br/>