<span class=""><strong>Creation Size</strong></span><br/>
<input type="radio" id="createSize0" name="createSize" class="radio-selected-create-cs" data-cost="1" {{#if (eq costCreateSize 1)}}checked{{/if}}>
<label for="createSize0">Tiny (less than 1 foot cubed in size) (1 cost)</label><br/>
<input type="radio" id="createSize1" name="createSize" class="radio-selected-create-cs" data-cost="2" {{#if (eq costCreateSize 2)}}checked{{/if}}>
<label for="createSize1">Small (less than 5 foot cubed in size) (2 cost)</label><br/>
<input type="radio" id="createSize2" name="createSize" class="radio-selected-create-cs" data-cost="3" {{#if (eq costCreateSize 3)}}checked{{/if}}>
<label for="createSize2">Meidum (less than 10 foot cubed in size) (3 cost)</label><br/>
<input type="radio" id="createSize3" name="createSize" class="radio-selected-create-cs" data-cost="5" {{#if (eq costCreateSize 5)}}checked{{/if}}>
<label for="createSize3">Large (less than 25 foot cubed in size) (5 cost)</label><br/>
<input type="radio" id="createSize4" name="createSize" class="radio-selected-create-cs" data-cost="8" {{#if (eq costCreateSize 8)}}checked{{/if}}>
<label for="createSize4">Huge (less than 50 foot cubed in size) (8 cost)</label><br/>
<input type="radio" id="createSize5" name="createSize" class="radio-selected-create-cs" data-cost="13" {{#if (eq costCreateSize 13)}}checked{{/if}}>
<label for="createSize5">Enormous (less than 100 foot cubed in size) (13 cost)</label><br/>

<span class=""><strong>Creation Number</strong></span><br/>
<input type="radio" id="createNumber0" name="createNumber" class="radio-selected-create-cn" data-cost="2" {{#if (eq costCreateNumber 2)}}checked{{/if}}>
<label for="createNumber0">1 facsimile (2 cost)</label><br/>
<input type="radio" id="createNumber1" name="createNumber" class="radio-selected-create-cn" data-cost="5" {{#if (eq costCreateNumber 5)}}checked{{/if}}>
<label for="createNumber1">2 facsimile (5 cost)</label><br/>
<input type="radio" id="createNumber2" name="createNumber" class="radio-selected-create-cn" data-cost="8" {{#if (eq costCreateNumber 8)}}checked{{/if}}>
<label for="createNumber2">3 facsimile (8 cost)</label><br/>
<input type="radio" id="createNumber3" name="createNumber" class="radio-selected-create-cn" data-cost="11" {{#if (eq costCreateNumber 11)}}checked{{/if}}>
<label for="createNumber3">4 facsimile (11 cost)</label><br/>
<input type="radio" id="createNumber4" name="createNumber" class="radio-selected-create-cn" data-cost="14" {{#if (eq costCreateNumber 14)}}checked{{/if}}>
<label for="createNumber4">5 facsimile (14 cost)</label><br/>
<input type="radio" id="createNumber5" name="createNumber" class="radio-selected-create-cn" data-cost="17" {{#if (eq costCreateNumber 17)}}checked{{/if}}>
<label for="createNumber5">6 facsimile (17 cost)</label><br/>

<span class=""><strong>Duration</strong></span><br/>
<input type="radio" id="createDuration0" name="createDuration" class="radio-selected-create-cd" data-cost="1" {{#if (eq costCreateDuration 1)}}checked{{/if}}>
<label for="createDuration0">1 minute x TB (1 cost)</label><br/>
<input type="radio" id="createDuration1" name="createDuration" class="radio-selected-create-cd" data-cost="3" {{#if (eq costCreateDuration 3)}}checked{{/if}}>
<label for="createDuration1">10 minutes x TB (3 cost)</label><br/>
<input type="radio" id="createDuration2" name="createDuration" class="radio-selected-create-cd" data-cost="6" {{#if (eq costCreateDuration 6)}}checked{{/if}}>
<label for="createDuration2">1 hour x TB (6 cost)</label><br/>