<span class=""><strong>Plant Shape</strong></span><br/>
<input type="radio" id="plantShape0" name="plantShape" class="radio-selected-plant-ps" data-cost="2" {{#if (eq costPlantShape 2)}}checked{{/if}}>
<label for="plantShape0">Random plant from Area (2 cost)</label><br/>
<input type="radio" id="plantShape1" name="plantShape" class="radio-selected-plant-ps" data-cost="4" {{#if (eq costPlantShape 4)}}checked{{/if}}>
<label for="plantShape1">Specific Spectral plant (4 cost)</label><br/>

<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="plantDamageDie0" name="plantDamageDie" class="radio-selected-plant-pd" data-cost="1" {{#if (eq costPlantDamageDie 1)}}checked{{/if}}>
<label for="plantDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="plantDamageDie1" name="plantDamageDie" class="radio-selected-plant-pd" data-cost="4" {{#if (eq costPlantDamageDie 4)}}checked{{/if}}>
<label for="plantDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="plantDamageDie2" name="plantDamageDie" class="radio-selected-plant-pd" data-cost="7" {{#if (eq costPlantDamageDie 7)}}checked{{/if}}>
<label for="plantDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="plantDamageDie3" name="plantDamageDie" class="radio-selected-plant-pd" data-cost="10" {{#if (eq costPlantDamageDie 10)}}checked{{/if}}>
<label for="plantDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="plantDamageDie4" name="plantDamageDie" class="radio-selected-plant-pd" data-cost="13" {{#if (eq costPlantDamageDie 13)}}checked{{/if}}>
<label for="plantDamageDie4">d12 (13 cost)</label><br/>
