<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="earthDamageDie0" name="earthDamageDie" class="radio-selected-earth-ed" data-cost="1" {{#if (eq costEarthDamageDie 1)}}checked{{/if}}>
<label for="earthDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="earthDamageDie1" name="earthDamageDie" class="radio-selected-earth-ed" data-cost="4" {{#if (eq costEarthDamageDie 4)}}checked{{/if}}>
<label for="earthDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="earthDamageDie2" name="earthDamageDie" class="radio-selected-earth-ed" data-cost="7" {{#if (eq costEarthDamageDie 7)}}checked{{/if}}>
<label for="earthDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="earthDamageDie3" name="earthDamageDie" class="radio-selected-earth-ed" data-cost="10" {{#if (eq costEarthDamageDie 10)}}checked{{/if}}>
<label for="earthDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="earthDamageDie4" name="earthDamageDie" class="radio-selected-earth-ed" data-cost="13" {{#if (eq costEarthDamageDie 13)}}checked{{/if}}>
<label for="earthDamageDie4">d12 (13 cost)</label><br/>
