<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="fissureDamageDie0" name="fissureDamageDie" class="radio-selected-fissure-fd" data-cost="1" {{#if (eq costFissureDamageDie 1)}}checked{{/if}}>
<label for="fissureDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="fissureDamageDie1" name="fissureDamageDie" class="radio-selected-fissure-fd" data-cost="4" {{#if (eq costFissureDamageDie 4)}}checked{{/if}}>
<label for="fissureDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="fissureDamageDie2" name="fissureDamageDie" class="radio-selected-fissure-fd" data-cost="7" {{#if (eq costFissureDamageDie 7)}}checked{{/if}}>
<label for="fissureDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="fissureDamageDie3" name="fissureDamageDie" class="radio-selected-fissure-fd" data-cost="10" {{#if (eq costFissureDamageDie 10)}}checked{{/if}}>
<label for="fissureDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="fissureDamageDie4" name="fissureDamageDie" class="radio-selected-fissure-fd" data-cost="13" {{#if (eq costFissureDamageDie 13)}}checked{{/if}}>
<label for="fissureDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Weaken</strong></span><br/>
<input type="radio" id="fissureWeaken0" name="fissureWeaken" class="radio-selected-fissure-fw" data-cost="6" {{#if (eq costFissureWeaken 6)}}checked{{/if}}>
<label for="fissureWeaken0">Weaken target to the next attack, doubling dmamge (6 cost)</label><br/>
