<span class=""><strong>Animal Shape</strong></span><br/>
<input type="radio" id="animalShape0" name="animalShape" class="radio-selected-animal-as" data-cost="2" {{#if (eq costAnimalShape 2)}}checked{{/if}}>
<label for="animalShape0">Random Animal from Area (2 cost)</label><br/>
<input type="radio" id="animalShape1" name="animalShape" class="radio-selected-animal-as" data-cost="4" {{#if (eq costAnimalShape 4)}}checked{{/if}}>
<label for="animalShape1">Specific Spectral Animal (4 cost)</label><br/>

<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="animalDamageDie0" name="animalDamageDie" class="radio-selected-animal-ad" data-cost="1" {{#if (eq costAnimalDamageDie 1)}}checked{{/if}}>
<label for="animalDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="animalDamageDie1" name="animalDamageDie" class="radio-selected-animal-ad" data-cost="4" {{#if (eq costAnimalDamageDie 4)}}checked{{/if}}>
<label for="animalDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="animalDamageDie2" name="animalDamageDie" class="radio-selected-animal-ad" data-cost="7" {{#if (eq costAnimalDamageDie 7)}}checked{{/if}}>
<label for="animalDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="animalDamageDie3" name="animalDamageDie" class="radio-selected-animal-ad" data-cost="10" {{#if (eq costAnimalDamageDie 10)}}checked{{/if}}>
<label for="animalDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="animalDamageDie4" name="animalDamageDie" class="radio-selected-animal-ad" data-cost="13" {{#if (eq costAnimalDamageDie 13)}}checked{{/if}}>
<label for="animalDamageDie4">d12 (13 cost)</label><br/>
