<span class=""><strong>Target</strong></span><br/>
<input type="radio" id="itTarget0" name="itTarget" class="radio-selected-it-it" data-cost="2" {{#if (eq costItTarget 2)}}checked{{/if}}>
<label for="itTarget0">Target one object (2 cost)</label><br/>
