<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="steamDamageDie0" name="steamDamageDie" class="radio-selected-steam-sd" data-cost="1" {{#if (eq costSteamDamageDie 1)}}checked{{/if}}>
<label for="steamDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="steamDamageDie1" name="steamDamageDie" class="radio-selected-steam-sd" data-cost="4" {{#if (eq costSteamDamageDie 4)}}checked{{/if}}>
<label for="steamDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="steamDamageDie2" name="steamDamageDie" class="radio-selected-steam-sd" data-cost="7" {{#if (eq costSteamDamageDie 7)}}checked{{/if}}>
<label for="steamDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="steamDamageDie3" name="steamDamageDie" class="radio-selected-steam-sd" data-cost="10" {{#if (eq costSteamDamageDie 10)}}checked{{/if}}>
<label for="steamDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="steamDamageDie4" name="steamDamageDie" class="radio-selected-steam-sd" data-cost="13" {{#if (eq costSteamDamageDie 13)}}checked{{/if}}>
<label for="steamDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Cover</strong></span><br/>
<input type="radio" id="steamCover0" name="steamCover" class="radio-selected-steam-sc" data-cost="4" {{#if (eq costSteamCover 4)}}checked{{/if}}>
<label for="steamCover0">Covered in thick steam, Moderate fog visibility (4 cost)</label><br/>
