<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="angelicDamageDie0" name="angelicDamageDie" class="radio-selected-angelic-ad" data-cost="1" {{#if (eq costAngelicDamageDie 1)}}checked{{/if}}>
<label for="angelicDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="angelicDamageDie1" name="angelicDamageDie" class="radio-selected-angelic-ad" data-cost="4" {{#if (eq costAngelicDamageDie 4)}}checked{{/if}}>
<label for="angelicDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="angelicDamageDie2" name="angelicDamageDie" class="radio-selected-angelic-ad" data-cost="7" {{#if (eq costAngelicDamageDie 7)}}checked{{/if}}>
<label for="angelicDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="angelicDamageDie3" name="angelicDamageDie" class="radio-selected-angelic-ad" data-cost="10" {{#if (eq costAngelicDamageDie 10)}}checked{{/if}}>
<label for="angelicDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="angelicDamageDie4" name="angelicDamageDie" class="radio-selected-angelic-ad" data-cost="13" {{#if (eq costAngelicDamageDie 13)}}checked{{/if}}>
<label for="angelicDamageDie4">d12 (13 cost)</label><br/>