<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="fireDamageDie0" name="fireDamageDie" class="radio-selected-fire-fd" data-cost="1" {{#if (eq costFireDamageDie 1)}}checked{{/if}}>
<label for="fireDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="fireDamageDie1" name="fireDamageDie" class="radio-selected-fire-fd" data-cost="4" {{#if (eq costFireDamageDie 4)}}checked{{/if}}>
<label for="fireDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="fireDamageDie2" name="fireDamageDie" class="radio-selected-fire-fd" data-cost="7" {{#if (eq costFireDamageDie 7)}}checked{{/if}}>
<label for="fireDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="fireDamageDie3" name="fireDamageDie" class="radio-selected-fire-fd" data-cost="10" {{#if (eq costFireDamageDie 10)}}checked{{/if}}>
<label for="fireDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="fireDamageDie4" name="fireDamageDie" class="radio-selected-fire-fd" data-cost="13" {{#if (eq costFireDamageDie 13)}}checked{{/if}}>
<label for="fireDamageDie4">d12 (13 cost)</label><br/>
