<span class=""><strong>Target</strong></span><br/>
<input type="radio" id="themTarget0" name="themTarget" class="radio-selected-them-tt" data-cost="3" {{#if (eq costThemTarget 3)}}checked{{/if}}>
<label for="themTarget0">Target creatures in a 10-foot radius (3 cost)</label><br/>
<input type="radio" id="themTarget0" name="themTarget" class="radio-selected-them-tt" data-cost="5" {{#if (eq costThemTarget 5)}}checked{{/if}}>
<label for="themTarget0">Target creatures in a 15-foot radius (5 cost)</label><br/>
<input type="radio" id="themTarget0" name="themTarget" class="radio-selected-them-tt" data-cost="7" {{#if (eq costThemTarget 7)}}checked{{/if}}>
<label for="themTarget0">Target creatures in a 20-foot radius (7 cost)</label><br/>
<input type="radio" id="themTarget0" name="themTarget" class="radio-selected-them-tt" data-cost="9" {{#if (eq costThemTarget 9)}}checked{{/if}}>
<label for="themTarget0">Target creatures in a 25-foot radius (9 cost)</label><br/>
<input type="radio" id="themTarget0" name="themTarget" class="radio-selected-them-tt" data-cost="11" {{#if (eq costThemTarget 11)}}checked{{/if}}>
<label for="themTarget0">Target creatures in a 30-foot radius (11 cost)</label><br/>
