<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="waterDamageDie0" name="waterDamageDie" class="radio-selected-water-wd" data-cost="1" {{#if (eq costWaterDamageDie 1)}}checked{{/if}}>
<label for="waterDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="waterDamageDie1" name="waterDamageDie" class="radio-selected-water-wd" data-cost="4" {{#if (eq costWaterDamageDie 4)}}checked{{/if}}>
<label for="waterDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="waterDamageDie2" name="waterDamageDie" class="radio-selected-water-wd" data-cost="7" {{#if (eq costWaterDamageDie 7)}}checked{{/if}}>
<label for="waterDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="waterDamageDie3" name="waterDamageDie" class="radio-selected-water-wd" data-cost="10" {{#if (eq costWaterDamageDie 10)}}checked{{/if}}>
<label for="waterDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="waterDamageDie4" name="waterDamageDie" class="radio-selected-water-wd" data-cost="13" {{#if (eq costWaterDamageDie 13)}}checked{{/if}}>
<label for="waterDamageDie4">d12 (13 cost)</label><br/>
