<span class=""><strong>Light</strong></span><br/>
<input type="radio" id="lightFieldRange0" name="lightFieldRange" class="radio-selected-light-lf" data-cost="1" {{#if (eq costLightFieldRange 1)}}checked{{/if}}>
<label for="lightFieldRange0">1-foot bubble of lightness (1 cost)</label><br/>
<input type="radio" id="lightFieldRange1" name="lightFieldRange" class="radio-selected-light-lf" data-cost="4" {{#if (eq costLightFieldRange 4)}}checked{{/if}}>
<label for="lightFieldRange1">10-foot radius of lightness (4 cost)</label><br/>
<input type="radio" id="lightFieldRange2" name="lightFieldRange" class="radio-selected-light-lf" data-cost="8" {{#if (eq costLightFieldRange 8)}}checked{{/if}}>
<label for="lightFieldRange2">20-foot radius of lightness (8 cost)</label><br/>

<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="lightDamageDie0" name="lightDamageDie" class="radio-selected-light-ld" data-cost="1" {{#if (eq costLightDamageDie 1)}}checked{{/if}}>
<label for="lightDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="lightDamageDie1" name="lightDamageDie" class="radio-selected-light-ld" data-cost="4" {{#if (eq costLightDamageDie 4)}}checked{{/if}}>
<label for="lightDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="lightDamageDie2" name="lightDamageDie" class="radio-selected-light-ld" data-cost="7" {{#if (eq costLightDamageDie 7)}}checked{{/if}}>
<label for="lightDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="lightDamageDie3" name="lightDamageDie" class="radio-selected-light-ld" data-cost="10" {{#if (eq costLightDamageDie 10)}}checked{{/if}}>
<label for="lightDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="lightDamageDie4" name="lightDamageDie" class="radio-selected-light-ld" data-cost="13" {{#if (eq costLightDamageDie 13)}}checked{{/if}}>
<label for="lightDamageDie4">d12 (13 cost)</label><br/>
