<span class=""><strong>Repair Number</strong></span><br/>
<input type="radio" id="repairNumber0" name="repairNumber" class="radio-selected-repair-rn" data-cost="2" {{#if (eq costRepairNumber 2)}}checked{{/if}}>
<label for="repairNumber0">Repair one die (2 cost)</label><br/>
<input type="radio" id="repairNumber1" name="repairNumber" class="radio-selected-repair-rn" data-cost="6" {{#if (eq costRepairNumber 6)}}checked{{/if}}>
<label for="repairNumber1">Repair two dice (6 cost)</label><br/>
<input type="radio" id="repairNumber1" name="repairNumber" class="radio-selected-repair-rn" data-cost="10" {{#if (eq costRepairNumber 10)}}checked{{/if}}>
<label for="repairNumber1">Repair three dice (10 cost)</label><br/>
