<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="ashDamageDie0" name="ashDamageDie" class="radio-selected-ash-ad" data-cost="1" {{#if (eq costAshDamageDie 1)}}checked{{/if}}>
<label for="ashDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="ashDamageDie1" name="ashDamageDie" class="radio-selected-ash-ad" data-cost="4" {{#if (eq costAshDamageDie 4)}}checked{{/if}}>
<label for="ashDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="ashDamageDie2" name="ashDamageDie" class="radio-selected-ash-ad" data-cost="7" {{#if (eq costAshDamageDie 7)}}checked{{/if}}>
<label for="ashDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="ashDamageDie3" name="ashDamageDie" class="radio-selected-ash-ad" data-cost="10" {{#if (eq costAshDamageDie 10)}}checked{{/if}}>
<label for="ashDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="ashDamageDie4" name="ashDamageDie" class="radio-selected-ash-ad" data-cost="13" {{#if (eq costAshDamageDie 13)}}checked{{/if}}>
<label for="ashDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Cover</strong></span><br/>
<input type="radio" id="ashCover0" name="ashCover" class="radio-selected-ash-ac" data-cost="4" {{#if (eq costAshCover 4)}}checked{{/if}}>
<label for="ashCover0">Covered in thick clouds, Moderate rain or snow visibility (4 cost)</label><br/>
