<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="lavaDamageDie0" name="lavaDamageDie" class="radio-selected-lava-ld" data-cost="1" {{#if (eq costLavaDamageDie 1)}}checked{{/if}}>
<label for="lavaDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="lavaDamageDie1" name="lavaDamageDie" class="radio-selected-lava-ld" data-cost="4" {{#if (eq costLavaDamageDie 4)}}checked{{/if}}>
<label for="lavaDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="lavaDamageDie2" name="lavaDamageDie" class="radio-selected-lava-ld" data-cost="7" {{#if (eq costLavaDamageDie 7)}}checked{{/if}}>
<label for="lavaDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="lavaDamageDie3" name="lavaDamageDie" class="radio-selected-lava-ld" data-cost="10" {{#if (eq costLavaDamageDie 10)}}checked{{/if}}>
<label for="lavaDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="lavaDamageDie4" name="lavaDamageDie" class="radio-selected-lava-ld" data-cost="13" {{#if (eq costLavaDamageDie 13)}}checked{{/if}}>
<label for="lavaDamageDie4">d12 (13 cost)</label><br/>

<span class=""><strong>Weaken</strong></span><br/>
<input type="radio" id="lavaWeaken0" name="lavaWeaken" class="radio-selected-lava-lw" data-cost="6" {{#if (eq costLavaWeaken 6)}}checked{{/if}}>
<label for="lavaWeaken0">Weaken target to the next attack, doubling dmamge (6 cost)</label><br/>
