<span class=""><strong>Damage</strong></span><br/>
<input type="radio" id="spiritDamageDie0" name="spiritDamageDie" class="radio-selected-spirit-sd" data-cost="1" {{#if (eq costSpiritDamageDie 1)}}checked{{/if}}>
<label for="spiritDamageDie0">d4 (1 cost)</label><br/>
<input type="radio" id="spiritDamageDie1" name="spiritDamageDie" class="radio-selected-spirit-sd" data-cost="4" {{#if (eq costSpiritDamageDie 4)}}checked{{/if}}>
<label for="spiritDamageDie1">d6 (4 cost)</label><br/>
<input type="radio" id="spiritDamageDie2" name="spiritDamageDie" class="radio-selected-spirit-sd" data-cost="7" {{#if (eq costSpiritDamageDie 7)}}checked{{/if}}>
<label for="spiritDamageDie2">d8 (7 cost)</label><br/>
<input type="radio" id="spiritDamageDie3" name="spiritDamageDie" class="radio-selected-spirit-sd" data-cost="10" {{#if (eq costSpiritDamageDie 10)}}checked{{/if}}>
<label for="spiritDamageDie3">d10 (10 cost)</label><br/>
<input type="radio" id="spiritDamageDie4" name="spiritDamageDie" class="radio-selected-spirit-sd" data-cost="13" {{#if (eq costSpiritDamageDie 13)}}checked{{/if}}>
<label for="spiritDamageDie4">d12 (13 cost)</label><br/>